# Merging the Database Part 1
Once the data have been loaded into three separate tables, which I will here call invoices, items, and reviews, you should merge them into each other. Your two master records are the invoices, which should never change in number, and the reviews, which are similarly fixed. The item data can be combined with those.

If using Pandas, you should use a left join on invoices with items.

This should yield a merged database, invoices_all, which contains the invoices as records and includes information about each item sold.

In [4]:
import pandas as pd

df_item = pd.read_csv('data_code/item.csv')
df_invoice = pd.read_csv('data_code/invoice.csv')
df_review = pd.read_csv('data_code/review.csv')

In [5]:
df_review.head()

   Customer_id       Invoice_id Product_Rating
0         9810     S13412800074            4/5
1         7624     S12253500046            2/5
2         8924  INV-01212300022            1/5
3         6692     S32151500080            1/5
4         2986     S05547300225            4/5

In [6]:
df_review.sample(n=10)

       Customer_id       Invoice_id Product_Rating
38682         7011     S16595500002            3/5
1101          4605  INV-04004200003            2/5
6429          3048     S31800100117            3/5
45948         5831     S29899400026            1/5
4812          7650  INV-07373800090            5/5
30884         4257     S07236100032            2/5
21869         2713     S23128400031            2/5
25109         4591  INV-03809600007            4/5
30008         1537     S06627400022            3/5
48537         3235  INV-07375000015            1/5

In [7]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer_id     50000 non-null  int64
 1   Invoice_id      50000 non-null  object
 2   Product_Rating  50000 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [8]:
df_item.head()

,Item_id,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
0,101,Kanna's Grapefruit Soda,Grapefruit Soda,6,750.0,4.32,6.48
1,102,Alphonse's Fruit Punch,Fruit Punch,6,800.0,3.33,5.00
2,103,Yummy Surstromming Juice,NaN,1,750.0,10.30,20.10
3,107,Tamaki's Watermelon Cream,Cream Soda,6,750.0,4.44,6.66
4,108,Kaori's Grapefruit Soda,Grapefruit Soda,6,750.0,3.12,4.68

In [9]:
df_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4166 entries, 0 to 4165
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Item_id              4166 non-null   int64
 1   Item_Description     4166 non-null   object
 2   Category             4162 non-null   object
 3   Pack                 4166 non-null   int64
 4   Bottle_Volume_ml     4166 non-null   float64
 5   Bottle_Cost          4166 non-null   float64
 6   Bottle_Retail_Price  4163 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 228.0+ KB

In [10]:
df_invoice.head()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold
0,INV-00013400001,2016-08-29,35918,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1
1,INV-00013400002,2016-08-29,23828,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1
2,INV-00013400003,2016-08-29,36908,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1
3,INV-00013400004,2016-08-29,34359,35,Archer Inc.,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,8
4,INV-00013400005,2016-08-29,36903,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1

In [11]:
df_invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930508 entries, 0 to 930507
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Invoice_id    930508 non-null  object
 1   Date          930508 non-null  object
 2   Item_id       930508 non-null  int64
 3   Vendor_id     930508 non-null  int64
 4   Vendor_Name   930508 non-null  object
 5   Store_id      930508 non-null  int64
 6   Store_Name    930508 non-null  object
 7   Address       930508 non-null  object
 8   City_Name     930508 non-null  object
 9   Zip_Code      930508 non-null  int64
 10  County_id     930508 non-null  int64
 11  County_Name   930508 non-null  object
 12  Bottles_Sold  930508 non-null  int64
dtypes: int64(6), object(7)
memory usage: 92.3+ MB

In [12]:
df_invoices_all= pd.merge(df_invoice, df_item, on = 'Item_id', how ='left')
df_invoices_all.head()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
0,INV-00013400001,2016-08-29,35918,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Haruko's Family Secret Black Cherry,Cherry Soda,6,1750.0,2.51,3.76
1,INV-00013400002,2016-08-29,23828,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Archer's Cream Soda,Cream Soda,6,1750.0,2.54,3.81
2,INV-00013400003,2016-08-29,36908,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Joutarou's Red Pop,Cherry Soda,6,1750.0,2.55,3.83
3,INV-00013400004,2016-08-29,34359,35,Archer Inc.,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,8,Roy's Wild Cherry,Cherry Soda,12,200.0,2.18,3.27
4,INV-00013400005,2016-08-29,36903,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Hisoka's Wild Cherry,Cherry Soda,48,200.0,1.66,2.49

In [13]:
df_invoices_all.tail()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
930503,S34122500013,2016-08-25,68031,260,Inuyasha Brands,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,1,Deishuu's Craft Root Beer,Root Beer,4,1000.0,5.06,7.59
930504,S34122500014,2016-08-25,75212,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Conan's Plum and Ginger,Ginger Ale,6,500.0,2.20,3.30
930505,S34122500015,2016-08-25,75224,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Daiki's Plum and Ginger,Ginger Ale,6,500.0,2.18,3.27
930506,S34122500016,2016-08-25,36901,300,Katsuragi Company,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Hisoka's Red Pop,Cherry Soda,6,500.0,2.16,3.24
930507,S34122500017,2016-08-25,86692,85,Ayuzawa Corporation,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,12,Kosaki's Watermelon Cream,Cream Soda,12,750.0,3.62,5.43

In [14]:
df_invoices_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 930508 entries, 0 to 930507
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Invoice_id           930508 non-null  object
 1   Date                 930508 non-null  object
 2   Item_id              930508 non-null  int64
 3   Vendor_id            930508 non-null  int64
 4   Vendor_Name          930508 non-null  object
 5   Store_id             930508 non-null  int64
 6   Store_Name           930508 non-null  object
 7   Address              930508 non-null  object
 8   City_Name            930508 non-null  object
 9   Zip_Code             930508 non-null  int64
 10  County_id            930508 non-null  int64
 11  County_Name          930508 non-null  object
 12  Bottles_Sold         930508 non-null  int64
 13  Item_Description     930508 non-null  object
 14  Category             930483 non-null  object
 15  Pack                 930508 non-null  int64
 16  Bottle_Volume_ml     930508 non-null  float64
 17  Bottle_Cost          930508 non-null  float64
 18  Bottle_Retail_Price  930190 non-null  float64
dtypes: float64(3), int64(7), object(9)
memory usage: 142.0+ MB

In [15]:
df_invoices_all.sample(n=15)

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
887746,S32502900052,2016-05-25,45275,434,Minami LLC,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,82,Scott,12,Daiki's Energy Booster,Energy Drink,12,750.0,2.09,3.14
554275,S18217500025,2014-04-02,65066,260,Inuyasha Brands,4841,Cozy Mart,2920 W LOCUST ST,DAVENPORT,52804,82,Scott,2,Misaki's Craft Root Beer,Root Beer,12,750.0,3.26,4.89
339773,S08574600095,2012-10-25,64336,35,Archer Inc.,2635,Hy-Vee #4 / Davenport,4064 E 53RD ST,DAVENPORT,52807,82,Scott,2,Eru's Ginger Ale,Ginger Ale,12,750.0,4.22,6.33
449653,S13400000001,2013-07-17,34433,35,Archer Inc.,3986,Siouxland Beverage,1203 5 ST,SIOUX CITY,51101,97,Woodbury,12,Rukia's Family Secret Black Cherry,Cherry Soda,12,750.0,4.11,6.17
710355,S25092300021,2015-04-15,69946,260,Inuyasha Brands,3655,M and M Durg Store,2763 FLOYD BLVD,SIOUX CITY,51104,97,Woodbury,3,Osamu's Craft Root Beer,Root Beer,12,750.0,3.26,4.89
135508,INV-05801500019,2017-06-29,52596,205,Harima Co.,4748,Walgreens #06186 / Davenport,4011 E 53RD ST,DAVENPORT,52807,82,Scott,1,Haruko's Orange Soda,Orange Soda,12,750.0,2.33,3.50
294142,S06471000023,2012-07-09,86918,85,Ayuzawa Corporation,2621,Hy-Vee Food Store #3 / Sioux City,3301 GORDON DR,SIOUX CITY,51105,97,Woodbury,6,Sougo's Craft Root Beer,Root Beer,6,1750.0,4.63,6.94
395795,S10973900033,2013-03-07,19063,65,Ayanami Brands,4612,ATC Durg,"214, MYRTLE ST",DAVENPORT,52802,82,Scott,48,Haruko's Cream Soda,Cream Soda,48,200.0,1.90,2.85
846878,S30837700021,2016-02-22,64866,421,Midoriya Inc.,4892,Sara Mini Mart,1026 W RIVER DR,DAVENPORT,52802,82,Scott,2,Sakura's Craft Root Beer,Root Beer,12,750.0,2.77,4.16
20720,INV-00922900097,2016-10-13,42204,305,Kinomoto Ltd,2635,Hy-Vee #4 / Davenport,4064 E 53RD ST,DAVENPORT,52807,82,Scott,4,Rias's Energy,Energy Drink,12,750.0,2.83,4.24
433020,S12621400021,2013-06-06,32231,370,Kyon Inc.,3853,Ram Durg Mart,3108 WEST CENTRAL PARK AVE #2,DAVENPORT,52804,82,Scott,2,Saeko's Raspberry Soda,Raspberry Soda,12,500.0,2.33,3.50
455158,S13649000070,2013-07-31,58885,395,Mankanshoku Inc.,2623,Hy-Vee Food Store #4 / Sioux City,2827 HAMILTON BLVD,SIOUX CITY,51104,97,Woodbury,36,Shougo's Lime,Lime Soda,6,1750.0,2.59,3.97
881300,S32231600008,2016-05-11,30318,260,Inuyasha Brands,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,82,Scott,12,Niko's Raspberry Soda,Raspberry Soda,6,1750.0,3.05,4.57
340537,S08611200172,2012-10-29,64858,421,Midoriya Inc.,3820,"Charlie's Convenience Store,",507 W 19th St,SIOUX CITY,51103,97,Woodbury,1,Ryuuji's Root Beer,Root Beer,1,3000.0,5.69,8.54
378169,S10178500034,2013-01-22,43337,260,Inuyasha Brands,2625,Hy-Vee Convenience Store #2,3301 W KIMBERLY RD,DAVENPORT,52804,82,Scott,84,Langley's Energy,Energy Drink,12,1000.0,3.16,4.74

In [16]:
df_invoices_all.to_csv('data_code/invoices_all.csv',index = False)

In [21]:
invoices_all = pd.read_csv('data_code/invoices_all.csv')

In [22]:
invoices_all.tail()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
930503,S34122500013,2016-08-25,68031,260,Inuyasha Brands,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,1,Deishuu's Craft Root Beer,Root Beer,4,1000.0,5.06,7.59
930504,S34122500014,2016-08-25,75212,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Conan's Plum and Ginger,Ginger Ale,6,500.0,2.20,3.30
930505,S34122500015,2016-08-25,75224,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Daiki's Plum and Ginger,Ginger Ale,6,500.0,2.18,3.27
930506,S34122500016,2016-08-25,36901,300,Katsuragi Company,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Hisoka's Red Pop,Cherry Soda,6,500.0,2.16,3.24
930507,S34122500017,2016-08-25,86692,85,Ayuzawa Corporation,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,12,Kosaki's Watermelon Cream,Cream Soda,12,750.0,3.62,5.43

# Merging the Database Part 2
Do the same for the reviews with the item data in reviews_all, except that you should left join on reviews with invoices, as not all invoice purchases generated reviews. You should verify that you can obtain item IDs and rating numbers from the same database, as that will be necessary for the recommendation engine step below.

In [23]:
df_reviews_all= pd.merge(invoices_all, df_review, on = 'Invoice_id', how ='left')

In [25]:
df_reviews_all.sample(n=10)

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,...,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price,Customer_id,Product_Rating
829799,S30068100163,2016-01-06,34007,370,Kyon Inc.,2625,Hy-Vee Convenience Store #2,3301 W KIMBERLY RD,DAVENPORT,52804,...,Scott,24,Riko's Wild Cherry,Cherry Soda,12,1000.0,3.61,5.41,NaN,NaN
479123,S14768400058,2013-09-25,38176,301,Kazuno Inc.,3722,Wal-Mart 1361 / Sioux City,3400 SINGING HILLS BLVD,SIOUX CITY,51106,...,Woodbury,24,Izayoi's Black Cherry,Cherry Soda,12,750.0,2.86,4.29,NaN,NaN
396136,S10968400024,2013-03-06,35416,259,Inaba Brands,2594,Hy-Vee Food Store / Sioux City,4500 SERGEANT ROAD,SIOUX CITY,51106,...,Woodbury,12,Hanayo's Red Pop,Cherry Soda,12,750.0,2.14,3.21,NaN,NaN
629314,S21540700157,2014-10-01,25601,260,Inuyasha Brands,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,...,Scott,12,Ban's Old Fashioned Cream Soda,Cream Soda,12,500.0,2.37,3.55,NaN,NaN
277891,S05813600030,2012-05-31,38006,260,Inuyasha Brands,3731,Wal-Mart 1241 / Davenport,5811 ELMORE AVE,DAVENPORT,52807,...,Scott,12,Issei's Wild Cherry,Cherry Soda,12,750.0,2.62,3.93,5828.0,1/5
508217,S16145300001,2013-12-09,904535,380,Le Company,4612,ATC Durg,"214, MYRTLE ST",DAVENPORT,52802,...,Scott,48,Nozomi's Gourmet Black Cherry Soda,Cherry Soda,24,200.0,1.78,2.67,NaN,NaN
552905,S18105100113,2014-03-26,41719,260,Inuyasha Brands,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,...,Scott,3,Megumin's Family Secret Black Cherry,Cherry Soda,12,750.0,2.62,3.93,NaN,NaN
478338,S14663400223,2013-09-18,43296,260,Inuyasha Brands,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,...,Scott,6,Kyou's Energy,Energy Drink,12,750.0,2.70,4.05,NaN,NaN
882470,S32224600114,2016-05-11,87250,461,Mustang Company,2637,Hy-Vee #5 / Davenport,2351 W LOCUST,DAVENPORT,52804,...,Scott,2,Emilia's Cane Cola,Cola,6,750.0,4.06,6.09,NaN,NaN
743955,S26489500045,2015-06-30,66211,260,Inuyasha Brands,2621,Hy-Vee Food Store #3 / Sioux City,3301 GORDON DR,SIOUX CITY,51105,...,Woodbury,12,Sasuke's Craft Root Beer,Root Beer,12,500.0,2.19,3.28,NaN,NaN

In [26]:
df_reviews_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 931812 entries, 0 to 931811
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Invoice_id           931812 non-null  object
 1   Date                 931812 non-null  object
 2   Item_id              931812 non-null  int64
 3   Vendor_id            931812 non-null  int64
 4   Vendor_Name          931812 non-null  object
 5   Store_id             931812 non-null  int64
 6   Store_Name           931812 non-null  object
 7   Address              931812 non-null  object
 8   City_Name            931812 non-null  object
 9   Zip_Code             931812 non-null  int64
 10  County_id            931812 non-null  int64
 11  County_Name          931812 non-null  object
 12  Bottles_Sold         931812 non-null  int64
 13  Item_Description     931812 non-null  object
 14  Category             931787 non-null  object
 15  Pack                 931812 non-null  int64
 16  Bottle_Volume_ml     931812 non-null  float64
 17  Bottle_Cost          931812 non-null  float64
 18  Bottle_Retail_Price  931494 non-null  float64
 19  Customer_id          50000 non-null   float64
 20  Product_Rating       50000 non-null   object
dtypes: float64(4), int64(7), object(10)
memory usage: 156.4+ MB