# Merging the Database Part 1
Once the data have been loaded into three separate tables, which I will here call invoices, items, and reviews, you should merge them into each other. Your two master records are the invoices, which should never change in number, and the reviews, which are similarly fixed. The item data can be combined with those.

If using Pandas, you should use a left join on invoices with items.

This should yield a merged database, invoices_all, which contains the invoices as records and includes information about each item sold.

In [3]:
import pandas as pd

df_item = pd.read_csv('data_code/item.csv')
df_invoice = pd.read_csv('data_code/invoice.csv')
df_review = pd.read_csv('data_code/review.csv')

In [4]:
df_review.head()

   Customer_id       Invoice_id Product_Rating
0         9810     S13412800074            4/5
1         7624     S12253500046            2/5
2         8924  INV-01212300022            1/5
3         6692     S32151500080            1/5
4         2986     S05547300225            4/5

In [5]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer_id     50000 non-null  int64
 1   Invoice_id      50000 non-null  object
 2   Product_Rating  50000 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [6]:
df_item.head()

,Item_id,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
0,101,Kanna's Grapefruit Soda,Grapefruit Soda,6,750.0,4.32,6.48
1,102,Alphonse's Fruit Punch,Fruit Punch,6,800.0,3.33,5.00
2,103,Yummy Surstromming Juice,NaN,1,750.0,10.30,20.10
3,107,Tamaki's Watermelon Cream,Cream Soda,6,750.0,4.44,6.66
4,108,Kaori's Grapefruit Soda,Grapefruit Soda,6,750.0,3.12,4.68

In [7]:
df_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4166 entries, 0 to 4165
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Item_id              4166 non-null   int64
 1   Item_Description     4166 non-null   object
 2   Category             4162 non-null   object
 3   Pack                 4166 non-null   int64
 4   Bottle_Volume_ml     4166 non-null   float64
 5   Bottle_Cost          4166 non-null   float64
 6   Bottle_Retail_Price  4163 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 228.0+ KB

In [8]:
df_invoice.head()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold
0,INV-00013400001,2016-08-29,35918,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1
1,INV-00013400002,2016-08-29,23828,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1
2,INV-00013400003,2016-08-29,36908,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1
3,INV-00013400004,2016-08-29,34359,35,Archer Inc.,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,8
4,INV-00013400005,2016-08-29,36903,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1

In [9]:
df_invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930508 entries, 0 to 930507
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Invoice_id    930508 non-null  object
 1   Date          930508 non-null  object
 2   Item_id       930508 non-null  int64
 3   Vendor_id     930508 non-null  int64
 4   Vendor_Name   930508 non-null  object
 5   Store_id      930508 non-null  int64
 6   Store_Name    930508 non-null  object
 7   Address       930508 non-null  object
 8   City_Name     930508 non-null  object
 9   Zip_Code      930508 non-null  int64
 10  County_id     930508 non-null  int64
 11  County_Name   930508 non-null  object
 12  Bottles_Sold  930508 non-null  int64
dtypes: int64(6), object(7)
memory usage: 92.3+ MB

In [10]:
df_invoices_all= pd.merge(df_invoice, df_item, on = 'Item_id', how ='left')
df_invoices_all.head()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
0,INV-00013400001,2016-08-29,35918,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Haruko's Family Secret Black Cherry,Cherry Soda,6,1750.0,2.51,3.76
1,INV-00013400002,2016-08-29,23828,297,Katou Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Archer's Cream Soda,Cream Soda,6,1750.0,2.54,3.81
2,INV-00013400003,2016-08-29,36908,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Joutarou's Red Pop,Cherry Soda,6,1750.0,2.55,3.83
3,INV-00013400004,2016-08-29,34359,35,Archer Inc.,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,8,Roy's Wild Cherry,Cherry Soda,12,200.0,2.18,3.27
4,INV-00013400005,2016-08-29,36903,300,Katsuragi Company,3882,Kwik Shop #579 / Davenport,2805 TELEGRAPH RD,DAVENPORT,52802,82,Scott,1,Hisoka's Wild Cherry,Cherry Soda,48,200.0,1.66,2.49

In [11]:
df_invoices_all.tail()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
930503,S34122500013,2016-08-25,68031,260,Inuyasha Brands,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,1,Deishuu's Craft Root Beer,Root Beer,4,1000.0,5.06,7.59
930504,S34122500014,2016-08-25,75212,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Conan's Plum and Ginger,Ginger Ale,6,500.0,2.20,3.30
930505,S34122500015,2016-08-25,75224,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Daiki's Plum and Ginger,Ginger Ale,6,500.0,2.18,3.27
930506,S34122500016,2016-08-25,36901,300,Katsuragi Company,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Hisoka's Red Pop,Cherry Soda,6,500.0,2.16,3.24
930507,S34122500017,2016-08-25,86692,85,Ayuzawa Corporation,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,12,Kosaki's Watermelon Cream,Cream Soda,12,750.0,3.62,5.43

In [12]:
df_invoices_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 930508 entries, 0 to 930507
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Invoice_id           930508 non-null  object
 1   Date                 930508 non-null  object
 2   Item_id              930508 non-null  int64
 3   Vendor_id            930508 non-null  int64
 4   Vendor_Name          930508 non-null  object
 5   Store_id             930508 non-null  int64
 6   Store_Name           930508 non-null  object
 7   Address              930508 non-null  object
 8   City_Name            930508 non-null  object
 9   Zip_Code             930508 non-null  int64
 10  County_id            930508 non-null  int64
 11  County_Name          930508 non-null  object
 12  Bottles_Sold         930508 non-null  int64
 13  Item_Description     930508 non-null  object
 14  Category             930483 non-null  object
 15  Pack                 930508 non-null  int64
 16  Bottle_Volume_ml     930508 non-null  float64
 17  Bottle_Cost          930508 non-null  float64
 18  Bottle_Retail_Price  930190 non-null  float64
dtypes: float64(3), int64(7), object(9)
memory usage: 142.0+ MB

In [13]:
df_invoices_all.sample(n=15)

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
74884,INV-03190300019,2017-02-09,45886,240,Howl INC.,3722,Wal-Mart 1361 / Sioux City,3400 SINGING HILLS BLVD,SIOUX CITY,51106,97,Woodbury,1,Maki's Energy Booster,Energy Drink,12,750.0,2.64,4.12
854608,S31154400058,2016-03-09,77698,260,Inuyasha Brands,3820,"Charlie's Convenience Store,",507 W 19th St,SIOUX CITY,51103,97,Woodbury,1,Nagisa's Gourmet Black Cherry Soda,Cherry Soda,12,750.0,2.66,3.99
554112,S18214300075,2014-04-02,86888,85,Ayuzawa Corporation,2625,Hy-Vee Convenience Store #2,3301 W KIMBERLY RD,DAVENPORT,52804,82,Scott,1,Sora's Root Beer,Root Beer,6,1750.0,4.20,6.30
26438,INV-01203900023,2016-10-26,65256,192,Gokou Co.,5319,West Side Grocery,1802 W 7th St,DAVENPORT,52802,82,Scott,2,Gohan's Ginger Beer,Ginger Ale,12,750.0,3.20,4.80
435749,S12732300082,2013-06-11,34423,35,Archer Inc.,2625,Hy-Vee Convenience Store #2,3301 W KIMBERLY RD,DAVENPORT,52804,82,Scott,3,Rukia's Gourmet Black Cherry Soda,Cherry Soda,12,375.0,2.70,4.05
761452,S27280400097,2015-08-12,36307,434,Minami LLC,2621,Hy-Vee Food Store #3 / Sioux City,3301 GORDON DR,SIOUX CITY,51105,97,Woodbury,72,Himeko's Black Cherry,Cherry Soda,12,1000.0,2.06,3.09
62210,INV-02664600005,2017-01-11,43028,259,Inaba Brands,4202,Fareway Stores #829 / Sioux City,4267 SERGEANT RD,SIOUX CITY,51106,97,Woodbury,1,Koyomi's Energy Booster,Energy Drink,6,1750.0,3.13,4.69
312442,S07262600009,2012-08-22,35416,259,Inaba Brands,2594,Hy-Vee Food Store / Sioux City,4500 SERGEANT ROAD,SIOUX CITY,51106,97,Woodbury,12,Hanayo's Red Pop,Cherry Soda,12,750.0,2.14,3.21
93205,INV-04063000001,2017-03-29,88185,370,Kyon Inc.,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,82,Scott,4,Grell's Kola,Cola,24,375.0,2.20,3.30
297075,S06585100088,2012-07-16,42002,380,Le Company,2621,Hy-Vee Food Store #3 / Sioux City,3301 GORDON DR,SIOUX CITY,51105,97,Woodbury,1,Mikoto's Gourmet Black Cherry Soda,Cherry Soda,6,500.0,2.19,3.29
795296,S28753300016,2015-10-29,41783,380,Le Company,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,1,Mei's Gourmet Black Cherry Soda,Cherry Soda,6,500.0,2.19,3.28
651381,S22626600081,2014-11-25,69945,260,Inuyasha Brands,2635,Hy-Vee #4 / Davenport,4064 E 53RD ST,DAVENPORT,52807,82,Scott,12,Natsu's Craft Root Beer,Root Beer,12,375.0,2.49,3.74
811880,S29449000166,2015-12-03,52316,259,Inaba Brands,2635,Hy-Vee #4 / Davenport,4064 E 53RD ST,DAVENPORT,52807,82,Scott,12,Ginko's Orange Soda,Orange Soda,12,750.0,2.28,3.42
677147,S23715700004,2015-01-28,23828,297,Katou Company,3776,Wal-Mart 5115 / Davenport,3101 WEST KIMBERLY RD,DAVENPORT,52806,82,Scott,6,Archer's Cream Soda,Cream Soda,6,1750.0,2.54,3.81
443115,S13070200009,2013-07-03,43128,35,Archer Inc.,3447,Sam's Club 6432 / Sioux City,4201 S. YORK ST.,SIOUX CITY,51106,97,Woodbury,24,Alucard's Energy Booster,Energy Drink,6,1750.0,3.57,5.35

In [19]:
df_invoices_all.to_csv('data_code/invoices_all.csv',index = False)

In [20]:
invoices_all = pd.read_csv('data_code/invoices_all.csv')

In [23]:
invoices_all.tail()

,Invoice_id,Date,Item_id,Vendor_id,Vendor_Name,Store_id,Store_Name,Address,City_Name,Zip_Code,County_id,County_Name,Bottles_Sold,Item_Description,Category,Pack,Bottle_Volume_ml,Bottle_Cost,Bottle_Retail_Price
930503,S34122500013,2016-08-25,68031,260,Inuyasha Brands,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,1,Deishuu's Craft Root Beer,Root Beer,4,1000.0,5.06,7.59
930504,S34122500014,2016-08-25,75212,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Conan's Plum and Ginger,Ginger Ale,6,500.0,2.20,3.30
930505,S34122500015,2016-08-25,75224,322,Koizumi Group,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Daiki's Plum and Ginger,Ginger Ale,6,500.0,2.18,3.27
930506,S34122500016,2016-08-25,36901,300,Katsuragi Company,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,6,Hisoka's Red Pop,Cherry Soda,6,500.0,2.16,3.24
930507,S34122500017,2016-08-25,86692,85,Ayuzawa Corporation,4694,Rina Mart LLC / Davenport,"3815, WEST KIMBERLY RD",DAVENPORT,52806,82,Scott,12,Kosaki's Watermelon Cream,Cream Soda,12,750.0,3.62,5.43

# Merging the Database Part 2
Do the same for the reviews with the item data in reviews_all, except that you should left join on reviews with invoices, as not all invoice purchases generated reviews. You should verify that you can obtain item IDs and rating numbers from the same database, as that will be necessary for the recommendation engine step below.

In [ ]:
df_reviews_all= pd.merge(df_, df_item, on = 'Item_id', how ='left')
df_invoices_all.head()